
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/*---------Login--------*/
body {
  height: 100vh;
  background: linear-gradient(135deg, #74ebd5, #9face6);
  display: flex;
  justify-content: center;
  align-items: center;
}

#Main {
  background: white;
  padding: 40px 50px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
  
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: 600;
  text-align: left;
  color: #333;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 15px;
  outline: none;
  transition: 0.3s;
}

input:focus {
  border-color: #6c63ff;
  box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
}

#Confirm {
  background: #63ffa9;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#Confirm:hover {
  background: #63ffa9;
  transform: scale(1.03);
}

#Cuenta {
  margin-top: 15px;
  font-size: 14px;
}

#Cuenta a {
  color: #6c63ff;
  text-decoration: none;
  font-weight: 600;
}

#Cuenta a:hover {
  text-decoration: underline;
}

/*---------Register--------*/
#Register {
  background: #63ffa9;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

#Register:hover {
  background: #63ffa9;
  transform: scale(1.03);
}

/*----------HOME---------*/

h1 {
 text-align: center;
}

.container {
 max-width: 900px;
 margin: auto;
}

.btn {
background: #007bff;
color: white;
padding: 12px 20px;
border: none;
cursor: pointer;
border-radius: 5px;
font-size: 15px;
margin-bottom: 15px;
}
.btn-danger {
background: #dc3545;
}
.btn-warning {
background: #ffc107;
color: black;
}
.project-card {
background: white;
padding: 15px;
border-radius: 7px;
margin-bottom: 15px;
box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
form {
background: white;
padding: 20px;
margin-top: 15px;
border-radius: 7px;
-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}
input, textarea {
width: 100%;
padding: 10px;
margin-top: 8px;
margin-bottom: 15px;
border-radius: 5px;
border: 1px solid #ccc;
}
label {
font-weight: bold;
}
